<div class="modal-body">
<p>
  <strong>Title:</strong>
  <%= todo.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= todo.description %>
</p>

<p>
  <strong>Done:</strong>
  <%= todo.done ? icon_solid { 'fa-check' } : icon_regular { 'fa-square' } %>
</p>

<h4>Items: <%= todo.items.size %></h4>

<table class="table responsive nowrap table-dark bg-dark text-white">
  <thead>
    <tr>
      <th>Descrição</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <% todo.items.each do |item| %>
      <tr>
        <td><%= item.description %></td>
        <td><%= item.status ? icon_solid('text-success') { 'fa-check' } : icon_regular('text-white') { 'fa-square' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<div class="modal-footer d-flex justify-content-between m-1">
  <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal" onclick="App.Todo.closeModal();">
    <%= icon_solid { 'fa-times' } %> Fechar
  </button>
</div>
