<p>
  <strong>Title:</strong>
  <%= todo.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= todo.description %>
</p>

<p>
  <strong>Done:</strong>
  <%= todo.done ? icon_solid { 'fa-check' } : icon_regular { 'fa-square' } %>
</p>

<h4>Items: <%= todo.items.size %></h4>

<ul>
<% todo.items.each do |item| %>
  <li><%= item.description %> | <%= item.status ? icon_solid { 'fa-check' } : icon_regular { 'fa-square' } %></li>
<% end %>
</ul>
