<p id="notice"><%= notice %></p>

<div class="container-fluid">
  <h1>Todos</h1>
</div>

<!-- Add form to import todos via file CSV -->
<div class="container-fluid">
  <%= form_tag import_todos_path, multipart: true, id: 'import_todo', remote: true do %>
    <div class="form-group">
      <%= file_field_tag :file, accept: '.csv', label: 'Arquivo CSV', class: 'form-control' %>
    </div>
    <%= submit_tag "Importar", class: 'btn btn-primary' %>
  <% end %>
</div>

<div id="new_todo" class="container-scroller mb-3"></div>

<div class="container-fluid">
  <table id="todos" class="table table-bordered responsive nowrap table-dark bg-dark text-dark" data-source="<%= todos_path(format: :json) %>">
  <tfoot>
    <tr>
      <th>#</th>
      <th>Titulo</th>
      <th>Descrição</th>
      <th>Status</th>
      <th>Items</th>
      <th>Criado em</th>
      <th>Atualizado em</th>
      <th>Acões</th>
    </tr>
  </table>
  <%= link_to new_todo_path, remote: true, class: 'btn btn-primary', id: 'new_todo' do %>
    <%= icon_solid {'fa-plus'} %> Criar TODO
  <% end %>
</div>

<script>
$('#import_todo').on('submit', function(e) {
  e.preventDefault();
  
  var form = $(this);

  if(form.find('input[type="file"]').val() == '') {
    Toast.error('Selecione um arquivo para importar');
    form[0].reset();
    $('input[type="submit"]').prop('disabled', false);
    return false;
  }else{
    App.Todo.import(form, this);
  }
});
</script>
